<html>
  <head>
    <link rel="stylesheet" href="/vendor/mocha/mocha.css">
    <link rel="stylesheet" href="/lib/<%= project.filename %>.css">
    <link rel="stylesheet" href="/.tmp/<%= project.filename %>_spec.css">
  </head>

  <body>
    <div id='mocha'></div>

    <!-- Test Fixtures -->
  </body>

  <!-- Dependencies -->

  <!-- Testing -->
  <script src="/vendor/mocha/mocha.js"></script>
  <script src="/vendor/chai/chai.js"></script>
  <script src="/vendor/sinon/lib/sinon.js"></script>
  <script src="/vendor/sinon/lib/sinon/call.js"></script>
  <script src="/vendor/sinon/lib/sinon/spy.js"></script>
  <script src="/vendor/sinon-chai/lib/sinon-chai.js"></script>
  <script src="/testem.js"></script>
  <script>
    mocha.setup('bdd');
    window.expect = chai.expect;
  </script>

  <script src="/lib/<%= project.filename %>.js"></script>
  <script src="/.tmp/<%= project.filename %>_spec.js"></script>

  <script>
    mocha.run()
  </script>
</html>
